.dot {
    background-position-x: center;
    background-position-y: center;
    background-size: 3em;
    background-repeat: no-repeat;
}

.stopDot {
    background-image: url("/stop.svg");
    background-repeat: repeat-y;
}

.originDot {
    background-image: url("/originStop.svg");
}

.terminatingDot {
    background-image: url("/terminatingStop.svg");
}

.skippedDot {
    background-image: url("/skippedStop.svg");
    background-repeat: repeat-y;
}